.header {
  background-color: var(--color-medium-gray);
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: 1fr minmax(auto, 654px) 1fr;
  height: 64px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 300;
}

.header-buttons {
  align-self: center;
  column-gap: 10px;
  display: flex;
  margin-left: auto;
  margin-right: 15px;
}

.settings-button {
  padding: 9px;
  min-width: auto;
}

.icon {
  fill: var(--color-white);
}

.icon.settings {
  width: 24px;
}
