.session-navigator {
  align-self: center;
  column-gap: 10px;
  display: flex;
  justify-content: center;
  grid-column-start: 2;
}

.session-list {
  height: 48px;
  padding: 9px;
  width: 100%;
}

.nav-button {
  height: auto;
  padding: 6px 13px;
  min-width: auto;
}

.date-time-container {
  display: flex;
  flex-direction: column;
}

.time {
  align-items: center;
  color: var(--palette-color-light-gray);
  column-gap: 2px;
  display: flex;
  justify-content: center;
}

@media (min-width: 576px) {
  .session-list {
    max-width: 320px;
  }
}

@media (min-width: 768px) {
  .session-list {
    max-width: 510px;
  }
}

@media (prefers-color-scheme: light) {
  .time {
    color: var(--palette-color-medium-gray);
  }
}
