.loading-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100%;
}

.full-screen-loader-error {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: calc(50% + 42px - 15px);
  transform: translate(-50%, -50%);
}

.full-screen-loader-error > h2 {
  margin-bottom: 15px;
  text-align: center;
}

.full-screen-loader-error > svg {
  fill: var(--palette-color-white);
  width: 48px;
  height: 48px;
}

@media (max-width: 875px) {
  .loading-container {
    height: 100%;
  }

  #root > .loading-container {
    height: 100vh;
  }
}
