.player-controls-container.fade-exited {
  pointer-events: none;
}

.player-controls-container {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
}

@media (max-width: 768px) {
  .player-controls-container {
    border-radius: 0;
  }
}

@media (prefers-color-scheme: light) {
  .player-controls-container {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 100%
    );
  }
}
