.player-controls-container.fade-exited {
  pointer-events: none;
}

.player-controls-container {
  background: linear-gradient(
    180deg,
    hsla(var(--base-color-white), 0%, 0) 0%,
    hsla(var(--base-color-white), 0%, 0.75) 100%
  );
}

.player-header-container {
  background: linear-gradient(
    180deg,
    hsla(var(--base-color-white), 0%, 0.75) 0%,
    hsla(var(--base-color-white), 0%, 0) 100%
  );
}

@media (max-width: 768px) {
  .player-controls-container {
    border-radius: 0;
  }
}

@media (prefers-color-scheme: light) {
  .player-controls-container {
    background: linear-gradient(
      180deg,
      hsla(var(--base-color-white), 0%, 0) 0%,
      hsla(var(--base-color-white), 0%, 0.4) 100%
    );
  }
  .player-header-container {
    background: linear-gradient(
      180deg,
      hsla(var(--base-color-white), 0%, 0.4) 0%,
      hsla(var(--base-color-white), 0%, 0) 100%
    );
  }
}
