.nav-popup-container {
  background: hsla(var(--base-color-white), 0%, 0.5);
  display: flex;
  height: calc(100% - 64px);
  justify-content: center;
  position: fixed;
  top: 64px;
  width: 100%;
  z-index: 250;
}

.nav-popup-wrapper {
  background: var(--palette-color-dark-gray);
  border-radius: var(--default-border-radius);
  height: calc(100% - 15px);
  margin: 15px;
  max-height: 810px;
  max-width: 650px;
  width: 100%;
}

.nav-popup {
  align-items: center;
  background: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 30px;
  row-gap: 30px;
  scrollbar-color: var(--palette-color-gray) transparent;
}

.nav-popup::-webkit-scrollbar-track {
  margin: 15px 0;
}

.session-group {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
}

.button.secondary.session-button {
  background: var(--palette-color-medium-gray);
  height: 90px;
  justify-content: space-between;
  padding: 20px 30px;
  width: 100%;
}

.button.secondary.session-button:hover {
  background: var(--palette-color-medium-gray-hover);
}

.button.secondary.session-button:focus {
  background: var(--palette-color-medium-gray);
}

.button.secondary.load-more-button {
  width: 194px;
}

.session-data {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.session-date {
  align-items: center;
  column-gap: 15px;
  display: flex;
  height: 20px;
}

.session-date p {
  background: var(--palette-color-red);
  border-radius: var(--default-border-radius);
  color: var(--palette-color-white);
  font-size: 10px;
  font-weight: 700;
  padding: 4px 8.5px;
}

.session-time {
  display: flex;
  column-gap: 2px;
}

.session-time p {
  color: #c7c7c7;
}

.session-time .day-diff {
  color: var(--palette-color-light-gray);
}

.no-streams {
  color: var(--palette-color-light-gray);
  margin-top: calc(21% - 30px);
  text-align: center;
  width: 200px;
}

.no-streams b {
  font-weight: 500;
}

.no-streams p {
  font-size: 13px;
  margin-top: 10px;
}

.session-icon {
  height: 24px;
  width: 24px;
}

.session-icon.error {
  fill: var(--palette-color-red);
}

.session-icon.success {
  fill: var(--palette-color-green);
}

@media (max-width: 767px) {
  .nav-popup-container {
    background: none;
    height: 100%;
    position: absolute;
    top: auto;
  }

  .nav-popup-wrapper {
    border-radius: 0;
    height: 100%;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
  }
}

@media (max-width: 330px) {
  .nav-popup {
    padding: 15px;
  }

  .session-date,
  .session-time {
    max-width: 151px;
  }

  .session-data h3,
  .session-data p:first-of-type {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@supports (overflow: overlay) {
  .nav-popup {
    overflow-y: overlay;
  }
}

@media (prefers-color-scheme: light) {
  #nav-popup-container {
    background: hsla(var(--base-color-white), 0%, 0.2);
  }

  .nav-popup-wrapper {
    background: var(--palette-color-extra-light-gray);
  }

  .button.secondary.session-button {
    background: var(--palette-color-white);
  }

  .button.secondary.session-button:hover {
    background: var(--palette-color-white-hover);
  }

  .button.secondary.session-button:focus {
    background: var(--palette-color-white);
  }

  .session-time p {
    color: var(--palette-color-medium-gray);
  }

  .session-time .day-diff {
    color: var(--palette-color-medium-gray);
  }

  .no-streams {
    color: var(--palette-color-medium-gray);
  }
}
