.dashboard-section-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100vh - 64px);
  position: relative;
  width: 100%;
}

@media (max-width: 767px) {
  .dashboard-section-container {
    height: 100%;
    overflow: hidden;
  }
}
