.dashboard-section-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  margin-top: 64px;
  position: relative;
  width: 100%;
}

@media (max-width: 767px) {
  .dashboard-section-container {
    height: 100%;
  }
}

@media (prefers-color-scheme: light) {
  .dashboard-section-container {
    @apply bg-white;
  }
}
