#mobile-panel-container {
  background: transparent;
  height: calc(100% - 64px);
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 64px;
  width: 100vw;
  z-index: 250;
}

.mobile-panel {
  height: 100%;
  pointer-events: auto;
  position: absolute;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  .mobile-panel {
    background: var(--palette-color-extra-light-gray);
  }
}
