#tooltip-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2px 0;
  position: absolute;
  width: max-content;
  z-index: 200;
}

.with-tooltip {
  min-width: 0;
  position: relative;
}

.tooltip {
  background: var(--palette-color-medium-gray);
  border-radius: 12px;
  padding: 10px;
}

@media (prefers-color-scheme: light) {
  .tooltip {
    background: var(--palette-color-light-gray);
  }
}
