.with-tooltip {
  min-width: 0;
  position: relative;
}

.tooltip {
  background: var(--palette-color-gray);
  border-radius: 12px;
  padding: 10px;
}

.tooltip .error-value {
  color: var(--palette-color-red);
}

.tooltip.fixed-width {
  max-width: 200px;
}

@media (prefers-color-scheme: light) {
  .tooltip {
    background: var(--palette-color-gray);
  }
}
