.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.grid-col {
  background: var(--palette-color-black);
  height: auto;
  flex-direction: column;
}

.grid-row {
  height: auto;
  flex-direction: row;
}

.grid-row.reverse,
.grid.reverse {
  flex-direction: row-reverse;
}

.grid-col.reverse {
  flex-direction: col-reverse;
}

.autoFit {
  flex: 1;
}

@media (max-width: 989px) {
  .grid {
    flex-direction: column;
  }

  .grid.reverse {
    flex-direction: column-reverse;
  }

  .grid-col {
    flex-direction: row;
  }

  .grid-row {
    flex-direction: column;
  }
}

@media (prefers-color-scheme: light) {
  .grid-col {
    background: var(--palette-color-extra-light-gray);
  }
}
