.video-player-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-player-container {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

#player {
  background-color: var(--color-black);
  height: 100%;
  width: 100%;
}

.cover {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.black-cover {
  background: var(--color-black);
}

.channel-offline-container {
  align-items: center;
  background: var(--color-grey);
  display: flex;
  justify-content: center;
}

.channel-offline-container > div {
  align-items: center;
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
  gap: 8px;
  line-height: 24px;
  opacity: 0.5;
}
