.static-notification-container {
  align-items: center;
  background: var(--palette-color-gray);
  border-radius: var(--default-border-radius);
  display: flex;
  gap: 90px;
  justify-content: space-between;
  margin-top: 15px;
  padding: 20px 30px;
}

.static-notification-content {
  align-items: center;
  display: flex;
  gap: 15px;
  max-width: 420px;
}

@media (max-width: 575px) {
  .static-notification-container {
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    width: 100%;
  }

  .static-notification-content {
    max-width: 100%;
  }

  .static-notification-container .link-button {
    width: 100%;
  }
}

@media (prefers-color-scheme: light) {
  .static-notification-container {
    background: var(--palette-color-light-gray);
  }
}
