input[type='range'] {
  -webkit-appearance: none;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0, 0.2s;
  background: linear-gradient(
    to right,
    #000000 0%,
    #000000 100%,
    #fff 50%,
    #fff 100%
  );
  cursor: pointer;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: black;
  border-radius: 9999px;
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: black;
  border-radius: 9999px;
  border: none;
  outline: none;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  input[type='range']::-webkit-slider-thumb {
    background: #fff;
  }
  input[type='range'] {
    background: linear-gradient(
      to right,
      #fff 0%,
      #fff 100%,
      #abafbd 50%,
      #abafbd 100%
    );
  }

  input[type='range']::-moz-range-thumb {
    background: #fff;
  }
}
