.outer-input-container {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 90px;
}

.outer-input-container.vertical {
  flex-direction: column;
  justify-content: center;
}

.outer-input-container.horizontal {
  align-items: center;
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
}

.outer-input-container .label {
  font-size: 15px;
  font-weight: 500;
  width: fit-content;
  margin-bottom: 15px;
}

.outer-input-container.horizontal .label {
  height: 100%;
  margin-bottom: 0px;
  margin-top: 24px;
}

.outer-input-container .description {
  color: var(--color-light-gray);
  font-size: 13px;
  font-weight: 500;
  padding-top: 5px;
}

.outer-input-container .footer {
  margin-top: 15px;
}

.inner-input-container {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
}

.inner-input-container input {
  -webkit-appearance: none;
  background: var(--color-medium-gray);
  border-radius: var(--default-border-radius);
  border: none;
  color: var(--color-white);
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 400;
  height: 42px;
  padding: 14px;
  transition: all 0.15s ease-in-out;
  width: 100%;
  min-width: 90px;
}

.inner-input-container input:read-only {
  cursor: auto;
}

.inner-input-container input:not([type='password']) {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.inner-input-container input[initial-type='password'] {
  padding-right: 52px;
}

.inner-input-container input[type='button'] {
  cursor: pointer;
  font-weight: 700;
  padding: 12px 26.5px;
  width: auto;
}

.inner-input-container input:focus {
  box-shadow: inset 0 0 0 2px var(--color-white);
  outline: none;
}

.inner-input-container input:hover {
  background: #40434e; /* Temporary: will be replaced with HSL */
}

.inner-input-container.error input {
  box-shadow: inset 0 0 0 2px var(--color-red);
}

.inner-input-container .error-message {
  color: var(--color-red);
  column-gap: 6.33px;
  display: flex;
  font-size: 13px;
  font-weight: 500;
  padding-top: 5px;
}

.password-peek {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: absolute;
  right: 21px;
  top: 2px;
}

.password-peek:focus-visible {
  border-radius: var(--default-border-radius);
  box-shadow: inset 0 0 0 2px var(--color-white);
  outline: none;
  padding: 4px;
  right: 17px;
  top: 8px;
}

.error-icon {
  fill: var(--color-red);
  height: 16px;
  min-width: 16px;
  width: 16px;
}

.visibility-icon {
  fill: var(--color-white);
}

.spinner-container {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}