.outer-input-container {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 90px;
}

.outer-input-container.vertical {
  flex-direction: column;
  justify-content: center;
}

.outer-input-container.horizontal {
  align-items: center;
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
}

.outer-input-container .label {
  width: fit-content;
  margin-bottom: 8px;
}

.outer-input-container.horizontal .label {
  align-items: center;
  display: flex;
  height: 100%;
  margin-bottom: 0px;
}

.outer-input-container .description {
  color: var(--palette-color-light-gray);
  font-size: 13px;
  padding-top: 4px;
}

.outer-input-container .footer {
  margin-top: 15px;
}

.inner-input-container {
  align-items: flex-start;
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
}

.inner-input-container input {
  -webkit-appearance: none;
  background: var(--palette-color-medium-gray);
  border-radius: var(--default-border-radius);
  border: none;
  color: var(--palette-color-white);
  font-family: 'Inter';
  font-size: 15px;
  font-weight: 400;
  height: 42px;
  min-width: 90px;
  padding: 14px 20px;
  transition: all 0.15s ease-in-out;
  width: 100%;
}

.inner-input-container input:read-only {
  cursor: auto;
}

.inner-input-container input:not([type='password']),
.inner-input-container input:placeholder-shown {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.inner-input-container input[type='button'] {
  cursor: pointer;
  font-weight: 700;
  padding: 12px 26.5px;
  width: 100%;
}

.inner-input-container input:focus {
  box-shadow: inset 0 0 0 2px var(--palette-color-white);
  outline: none;
}

.inner-input-container input:hover {
  background: var(--palette-color-medium-gray-hover);
}

.inner-input-container.error input {
  box-shadow: inset 0 0 0 2px var(--palette-color-red);
}

.inner-input-container .error-message {
  color: var(--palette-color-red);
  column-gap: 6.33px;
  display: flex;
  font-size: 13px;
  padding-top: 5px;
}

.inner-input-container .error-message > svg {
  margin-top: -1px;
}

.password-peek {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: absolute;
  right: 20px;
  top: 2px;
}

.password-peek:focus {
  border-radius: var(--default-border-radius);
  box-shadow: inset 0 0 0 2px var(--palette-color-white);
  outline: none;
  padding: 4px;
  right: 17px;
  top: 8px;
}

.error-icon {
  fill: var(--palette-color-red);
  height: 16px;
  min-width: 16px;
  width: 16px;
}

.visibility-icon {
  fill: var(--palette-color-white);
}

.spinner-container {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (prefers-color-scheme: light) {
  .outer-input-container .description {
    color: var(--palette-color-medium-gray);
  }

  .inner-input-container input {
    background: var(--palette-color-light-gray);
    color: var(--palette-color-dark-gray);
  }

  .inner-input-container input:focus {
    box-shadow: inset 0 0 0 2px var(--palette-color-dark-gray);
  }

  .inner-input-container input:hover {
    background: var(--palette-color-light-gray-hover);
  }

  .password-peek:focus {
    box-shadow: inset 0 0 0 2px var(--palette-color-dark-gray);
  }

  .visibility-icon {
    fill: var(--palette-color-dark-gray);
  }

  .button.destructive + .spinner-container .spinner {
    color: var(--palette-color-white);
  }
}
