@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  align-items: center;
  border-radius: var(--default-border-radius);
  border: none;
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  min-width: 90px;
  padding: 12px 24px;
  transition: all 0.15s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: auto;
}

a.button-as-link:focus,
a.button-as-link:hover {
  border: none;
  outline: none;
  margin: 0;
  padding: 12px 24px;
}

.button:disabled {
  opacity: 0.3;
  cursor: auto;
  pointer-events: none;
}

.button:focus {
  @apply shadow shadow-white;
  outline: none;
}

.button.primary {
  @apply bg-darkMode-blue text-black;
}

.button.primary svg {
  @apply fill-black;
}

.button.primary:hover {
  @apply bg-darkMode-blue-hover;
}

.button.primary:focus {
  @apply bg-darkMode-blue;
}

.button.secondary {
  @apply bg-darkMode-gray text-white;
}

.button.secondary svg {
  @apply fill-white;
}

.button.secondary:hover {
  @apply bg-darkMode-gray-hover;
}

.button.secondary:focus {
  @apply bg-darkMode-gray;
}

.button.secondary .spinner {
  @apply text-white;
}

.button.tertiary {
  @apply bg-darkMode-gray-extraLight text-black;
}

.button.tertiary svg {
  @apply fill-black;
}

.button.tertiary:hover {
  @apply bg-darkMode-gray-extraLight-hover;
}

.button.tertiary:focus {
  @apply bg-darkMode-gray-extraLight;
}

.button.text {
  background: transparent;
}

.button.text .spinner {
  @apply text-white;
}

.button.text:hover {
  @apply bg-darkMode-gray-hover;
}

.button.text:focus {
  @apply bg-darkMode-gray-medium;
}

.button.text.first {
  @apply text-darkMode-blue;
}

.button.text.first svg {
  @apply fill-darkMode-blue;
}

.button.text.second {
  @apply text-white;
}

.button.text.second svg {
  @apply fill-white;
}

.button.text.third {
  @apply text-white;
  column-gap: 12px;
  border-radius: 8px;
  justify-content: flex-start;
  padding: 6px 12px;
}

.button.text.third svg {
  @apply fill-white;
}

.button.destructive {
  @apply bg-darkMode-red text-black;
}

.button.destructive svg {
  @apply fill-white;
}

.button.destructive:hover {
  @apply bg-darkMode-red-hover;
}

.button.destructive:focus {
  @apply bg-darkMode-red;
}

.button.icon {
  background: transparent;
  border-radius: 50%;
  height: auto;
  padding: 7px;
  min-width: auto;
}

.button.icon:hover {
  @apply bg-darkMode-gray-hover;
}

.button.icon:focus {
  @apply bg-darkMode-gray-hover;
}

@media (prefers-color-scheme: light) {
  .button:disabled svg {
    @apply fill-lightMode-gray-dark;
  }

  .button:focus {
    @apply shadow shadow-black;
  }

  .button.secondary {
    @apply bg-white text-black;
  }

  .button.secondary svg {
    @apply fill-black;
  }

  .button.secondary .spinner {
    @apply text-black;
  }

  .button.secondary:hover {
    @apply bg-white-hover;
  }

  .button.secondary:focus {
    @apply bg-white;
  }

  .button.tertiary {
    @apply bg-lightMode-gray text-black;
  }

  .button.tertiary svg {
    @apply fill-black;
  }

  .button.tertiary svg {
    @apply fill-black;
  }

  .button.tertiary:hover {
    @apply bg-lightMode-gray-hover;
  }

  .button.tertiary:focus {
    @apply bg-lightMode-gray;
  }

  .button.text.first {
    @apply text-lightMode-blue-medium;
  }

  .button.text.first svg {
    @apply fill-lightMode-blue-medium;
  }

  .button.text.first .spinner {
    @apply text-black;
  }

  .button.text.first:hover {
    @apply bg-lightMode-gray-light-hover;
  }

  .button.text.first:focus {
    @apply bg-lightMode-gray-light-hover;
  }

  .button.text.second {
    @apply text-black;
  }

  .button.text.second svg {
    @apply fill-black;
  }

  .button.text.second:hover {
    @apply bg-lightMode-gray-light-hover;
  }

  .button.text.second:focus {
    @apply bg-lightMode-gray-light;
  }

  .button.text.third {
    @apply text-black;
  }

  .button.text.third svg {
    @apply fill-black;
  }

  .button.text.third:hover {
    @apply bg-lightMode-gray-light-hover;
  }

  .button.text.third:focus {
    @apply bg-lightMode-gray-light;
  }

  .button.destructive {
    @apply text-white;
  }

  .button.destructive svg {
    @apply fill-white;
  }

  .button.destructive .spinner {
    @apply text-white;
  }

  .button.icon svg {
    @apply fill-lightMode-gray-dark;
  }

  .button.icon:hover {
    @apply bg-lightMode-gray-light-hover;
  }

  .button.icon:hover svg {
    @apply fill-black;
  }

  .button.icon:focus {
    @apply bg-lightMode-gray-light-hover;
  }

  .button.icon:focus svg {
    @apply fill-black;
  }
}
