.button {
  align-items: center;
  border-radius: var(--default-border-radius);
  border: none;
  cursor: pointer;
  display: flex;
  height: 42px;
  justify-content: center;
  min-width: 90px;
  padding: 12px 24px;
  transition: all 0.15s ease-in-out;
  user-select: none;
  white-space: nowrap;
}

.button svg {
  fill: var(--palette-color-white);
}

.button:disabled {
  opacity: 0.3;
  cursor: auto;
  pointer-events: none;
}

.button:focus {
  box-shadow: inset 0 0 0 2px var(--palette-color-white);
  outline: none;
}

.button.primary {
  background: var(--palette-color-blue);
  color: var(--palette-color-black);
}

.button.primary:hover {
  background: var(--palette-color-blue-hover);
}

.button.primary:focus {
  background: var(--palette-color-blue);
}

.button.secondary {
  background: var(--palette-color-gray);
  color: var(--palette-color-white);
}

.button.secondary:hover {
  background: var(--palette-color-gray-hover);
}

.button.secondary:focus {
  background: var(--palette-color-gray);
}

.button.secondary .spinner {
  color: var(--palette-color-white);
}

.button.tertiary {
  background: var(--palette-color-extra-light-gray);
  color: var(--palette-color-black);
}

.button.tertiary:hover {
  background: var(--palette-color-extra-light-gray-hover);
}

.button.tertiary:focus {
  background: var(--palette-color-extra-light-gray);
}

.button.link {
  background: none;
  color: var(--palette-color-white);
}

.button.link:hover {
  background: var(--palette-color-gray-hover);
}

.button.link:focus {
  background: var(--palette-color-medium-gray);
}

.button.destructive {
  background: var(--palette-color-red);
  color: var(--palette-color-black);
}

.button.destructive:hover {
  background: var(--palette-color-red-hover);
}

.button.destructive:focus {
  background: var(--palette-color-red);
}

.button.icon {
  background: transparent;
  border-radius: 6px;
  height: auto;
  padding: 7px;
  min-width: auto;
}

.button.icon:hover {
  background: var(--palette-color-gray-hover);
}

.button.icon:focus {
  background: var(--palette-color-gray-hover);
}

@media (prefers-color-scheme: light) {
  .button svg {
    fill: var(--palette-color-black);
  }

  .button:disabled svg {
    fill: var(--palette-color-dark-gray);
  }

  .button:focus {
    box-shadow: inset 0 0 0 2px var(--palette-color-black);
  }

  .button.secondary {
    background: var(--palette-color-white);
    color: var(--palette-color-black);
  }

  .button.secondary:hover {
    background: var(--palette-color-white-hover);
  }

  .button.secondary:focus {
    background: var(--palette-color-white);
  }

  .button.tertiary {
    background: var(--palette-color-gray);
    color: var(--palette-color-black);
  }

  .button.tertiary:hover {
    background: var(--palette-color-gray-hover);
  }

  .button.tertiary:focus {
    background: var(--palette-color-gray);
  }

  .button.link {
    color: var(--palette-color-black);
  }

  .button.link:hover {
    background: var(--palette-color-light-gray-hover);
  }

  .button.link:focus {
    background: var(--palette-color-light-gray);
  }

  .button.destructive {
    color: var(--palette-color-white);
  }

  .button.button.secondary .spinner {
    color: var(--palette-color-black);
  }

  .button.destructive .spinner {
    color: var(--palette-color-white);
  }

  .button.icon svg {
    fill: var(--palette-color-dark-gray);
  }

  .button.icon:hover {
    background: var(--palette-color-light-gray-hover);
  }

  .button.icon:hover svg {
    fill: var(--palette-color-black);
  }

  .button.icon:focus {
    background: var(--palette-color-light-gray-hover);
  }

  .button.icon:focus svg {
    fill: var(--palette-color-black);
  }
}
