.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.form > h1 {
  text-align: center;
}

.form.vertical {
  margin: auto;
  max-width: 450px;
  @apply space-y-8;
}

.form.vertical > :last-child {
  padding-top: 32px;
}

.form.horizontal {
  @apply space-y-5;
}

.submit-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  @apply space-y-8;
}

.input-format-container {
  display: flex;
  @apply space-x-2.5;
}

.form.horizontal .input-format-container {
  align-items: flex-end;
}

.input-format-container.with-spacing {
  margin-right: 108px;
}

@media (max-width: 767px) {
  .form.vertical,
  .form.horizontal {
    margin: 0 auto;
  }
}

@media (max-width: 330px) {
  .input-format-container.with-spacing {
    margin: 0;
  }
}

::-ms-reveal {
  display: none;
}
