.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.form.vertical {
  margin: auto;
  max-width: 450px;
  row-gap: 30px;
}

.form.vertical> :last-child {
  padding-top: 30px;
}

.form.horizontal {
  row-gap: 20px;
}

.submit-container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.input-format-container {
  display: flex;
  column-gap: 10px;
}

.input-format-container.with-spacing {
  margin-right: 100px;
}

@media (max-width: 875px) {
  .form.vertical,
  .form.horizontal {
    margin: 0 auto;
  }
}
