.selectable-icon {
  height: auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
}

button.selectable-icon {
  border: none;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  font-size: 15px;
  color: var(--palette-color-black);
  background: transparent;
  border-radius: var(--default-border-radius);
}

.selectable-icon img,
.selectable-icon .color {
  border-radius: 50%;
}

.selectable-icon .color {
  width: 100%;
  height: 48px;
}

.selectable-icon.sm {
  width: 25px;
}

.selectable-icon.md {
  width: 42px;
}

.selectable-icon.lg {
  width: 60px;
}

.selectable-icon.auto {
  width: auto;
}

.selectable-icon.selected,
.selectable-icon.hoverable:hover {
  box-shadow: 0 0 0 2px var(--palette-color-white);
  border-radius: 50%;
}

.selectable-icon.selected.type-image:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  border-radius: 50%;
}

.selectable-icon > svg,
.selectable-icon > .spinner {
  position: absolute;
}
