.settings-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 32px auto 96px;
  max-width: 960px;
  @apply space-y-[30px] px-[30px] box-content;
}

.settings-container section {
  display: flex;
  flex-direction: column;
  width: 100%;
  @apply space-y-5;
}

.settings-container section h3 {
  margin-bottom: 10px;
}

.settings-container section:not(:last-child) {
  margin-bottom: 30px;
}

.settings-container label {
  color: var(--palette-color-light-gray);
  min-width: 229px;
}

.input-btn-group {
  display: flex;
  @apply space-x-2.5;
}

@media (max-width: 767px) {
  .input-btn-group {
    align-items: flex-end;
  }

  .settings-container {
    margin: 60px auto 120px auto;
    padding: 0 15px;
  }
}

@media (max-width: 330px) {
  .input-btn-group:first-of-type {
    flex-wrap: wrap;
    margin-bottom: 10px;
    @apply space-y-2.5;
  }

  .input-btn-group:first-of-type button:first-of-type {
    order: 1;
  }
}

@media (prefers-color-scheme: light) {
  .settings-container label {
    color: var(--palette-color-medium-gray);
  }
}
