.live-pill {
  background-color: var(--palette-color-red);
  border-radius: var(--default-border-radius);
  color: var(--palette-color-white);
  font-family: 'Inter';
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  padding: 4px 8px;
  text-transform: uppercase;
}
