.vertical-scroller-container {
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
}

@media (max-width: 767px) {
  .vertical-scroller-container {
    height: 100%;
    overflow: hidden;
  }
}

@supports (overflow: overlay) {
  .vertical-scroller-container {
    overflow: overlay;
  }
}
