@media (max-width: 989px) and (orientation: portrait) {
  .sidebar.unauth {
    width: 160px;
  }
}

@media (max-width: 767px), (max-width: 989px) and (orientation: landscape) {
  .sidebar-user-buttons {
    border-radius: 40px;
    column-gap: 16px;
    flex-direction: row;
    padding: 14px 16px;
  }
}

@media (max-width: 989px) and (orientation: landscape) {
  .mobile-navbar {
    max-width: calc(
      100vw - (288px + 32px)
    ) !important; /* !important is temporary, removed once TW breakpoints are established */
  }
}
