@keyframes pulse-first-waves {
  0% {
    fill: var(--palette-color-dark-gray);
  }

  7% {
    fill: var(--palette-color-dark-gray);
  }

  21% {
    fill: var(--palette-color-white);
  }

  78% {
    fill: var(--palette-color-white);
  }

  100% {
    fill: var(--palette-color-dark-gray);
  }
}

@keyframes pulse-second-waves {
  0% {
    fill: var(--palette-color-dark-gray);
  }

  28% {
    fill: var(--palette-color-dark-gray);
  }

  42% {
    fill: var(--palette-color-white);
  }

  78% {
    fill: var(--palette-color-white);
  }

  100% {
    fill: var(--palette-color-dark-gray);
  }
}

@media (prefers-color-scheme: light) {
  @keyframes pulse-first-waves {
    0% {
      fill: hsla(var(--base-color-medium-gray), 0.5);
    }

    7% {
      fill: hsla(var(--base-color-medium-gray), 0.5);
    }

    21% {
      fill: var(--palette-color-black);
    }

    78% {
      fill: var(--palette-color-black);
    }

    100% {
      fill: hsla(var(--base-color-medium-gray), 0.5);
    }
  }

  @keyframes pulse-second-waves {
    0% {
      fill: hsla(var(--base-color-medium-gray), 0.5);
    }

    28% {
      fill: hsla(var(--base-color-medium-gray), 0.5);
    }

    42% {
      fill: var(--palette-color-black);
    }

    78% {
      fill: var(--palette-color-black);
    }

    100% {
      fill: hsla(var(--base-color-medium-gray), 0.5);
    }
  }
}

.floating-player {
  align-items: flex-end;
  bottom: 30px;
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  right: 15px;
  row-gap: 10px;
}

.floating-player .icon-button {
  height: auto;
  min-width: auto;
  padding: 6px;
  width: auto;
}

.floating-player .icon-button g {
  fill: var(--palette-color-dark-gray);
}

.floating-player .icon-button .sensors-origin.is-live {
  fill: var(--palette-color-white);
  transition: fill 0.5s;
}

.sensors-first-waves,
.sensors-second-waves {
  animation-iteration-count: infinite;
  animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
}

.sensors-first-waves.is-live {
  animation-name: pulse-first-waves;
}

.sensors-second-waves.is-live {
  animation-name: pulse-second-waves;
}

.mini-player-container {
  border-radius: var(--default-border-radius);
  border: none;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 10px;
  transform-origin: bottom right;
  width: 210px;
}

.mini-player-container.is-live {
  background: var(--palette-color-medium-gray);
  border: 10px solid var(--palette-color-medium-gray);
}

.video-container {
  background: var(--palette-color-black);
  border-radius: 15px;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}

.video-container .spinner {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.video-container .live-pill {
  left: 10px;
  position: absolute;
  top: 10px;
  z-index: 20;
}

video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

canvas {
  bottom: 0;
  height: 100%;
  left: 0;
  object-fit: cover;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.mini-player-text {
  letter-spacing: 0em;
  text-align: center;
}

.mini-player-text.offline-instructions {
  text-align: left;
}

.offline-stream-container {
  background: var(--palette-color-medium-gray);
  border: 10px solid var(--palette-color-gray);
  border-radius: var(--default-border-radius);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px;
}

.offline-stream-container a {
  align-self: flex-end;
}

@media (prefers-color-scheme: light) {
  .floating-player .icon-button {
    background: var(--palette-color-gray);
    color: var(--palette-color-black);
  }

  .floating-player .icon-button:hover {
    background: var(--palette-color-gray-hover);
  }

  .floating-player .icon-button:focus {
    background: var(--palette-color-gray);
  }

  .floating-player .icon-button g {
    fill: hsla(var(--base-color-medium-gray), 0.5);
  }

  .floating-player .icon-button .sensors-origin.is-live {
    fill: var(--palette-color-black);
  }

  .mini-player-container.is-live {
    background: var(--palette-color-light-gray);
    border: 10px solid var(--palette-color-light-gray);
  }

  .offline-stream-container {
    background: var(--palette-color-white);
    border: 10px solid var(--palette-color-light-gray);
  }
}
