.app-layout {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.main-app-container {
  background-color: var(--palette-color-black);
  overflow: auto;
  position: absolute;
  right: 0;
  scroll-behavior: smooth;
}

.main-app-container.auth {
  width: calc(100vw - 64px);
}

.main-app-container.unauth {
  width: calc(100vw - 240px);
}

@media (prefers-color-scheme: light) {
  .main-app-container {
    background-color: var(--palette-color-white);
  }
}

@media (max-width: 767px), (max-width: 989px) and (orientation: landscape) {
  .main-app-container,
  .main-app-container.auth,
  .main-app-container.unauth {
    height: 100%;
    position: static;
    width: 100%;
  }
}

@media (max-width: 989px) and (min-width: 767px) and (orientation: portrait) {
  .main-app-container.unauth {
    width: calc(100vw - 160px);
  }
}

@supports (overflow: overlay) {
  .main-app-container {
    overflow: overlay;
  }
}
