.notification {
  align-items: center;
  border-radius: var(--default-border-radius);
  color: var(--palette-color-black);
  column-gap: 11.5px;
  display: flex;
  font-weight: 700;
  left: 0;
  line-height: 18px;
  margin: 0 auto;
  max-width: 595px;
  padding: 10px 20px;
  position: sticky;
  right: 0;
  width: fit-content;
  z-index: 50;
}

.notification.fixed {
  position: fixed;
}

.notification.absolute {
  position: absolute;
}

.notification.error {
  background-color: var(--palette-color-red);
}

.notification.success {
  background-color: var(--palette-color-green);
}

.notification-icon {
  fill: var(--palette-color-black);
}

@media (prefers-color-scheme: light) {
  .notification {
    color: var(--palette-color-white);
  }

  .notification-icon {
    fill: var(--palette-color-white);
  }
}
