@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --default-border-radius: 24px;
    --mobile-x-spacing: 16px;

    /* Global base colors */
    --base-color-turquoise: 181, 100%;
    --base-color-creator-green: 144, 42%;

    /* Dark base colors */
    --base-color-dark-gray: 228, 10%;
    --base-color-medium-gray: 227, 10%;
    --base-color-light-gray: 227, 12%;
    --base-color-extra-light-gray: 229, 16%;
    --base-color-green: 135, 68%;
    --base-color-red: 5, 69%;
    --base-color-blue: 200, 100%;

    /* Light base colors */
    --base-color-white: 0, 0%;
    --base-color-medium-green: 135, 61%;
    --base-color-light-red: 359, 76%;
    --base-color-medium-blue: 205, 79%;

    /* Base profile colors */
    --base-profile-color-default: 200, 100%;
    --base-profile-color-green: 144, 42%;
    --base-profile-color-yellow: 50, 100%;
    --base-profile-color-blue: 241, 100%;
    --base-profile-color-salmon: 14, 100%;
    --base-profile-color-purple: 274, 40%;
    --base-profile-color-turquoise: 169, 100%;
    --base-profile-color-lavender: 243, 100%;
  }

  *,
  *::before,
  *::after {
    @apply m-0 p-0 box-border;
  }
  html {
    @apply scroll-smooth;
    text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    /* Firefox scrollbar */
    scrollbar-width: auto;
    scrollbar-color: theme('colors.darkMode.gray.DEFAULT') transparent;
  }
  body {
    @apply bg-black text-white;
    @apply font-body text-[15px] not-italic antialiased;
    @apply overflow-hidden relative;
    text-rendering: optimizeSpeed;
  }

  /* WebKit scrollbar */
  ::-webkit-scrollbar {
    @apply w-[17px];
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-transparent;
    @apply border-solid border-[5px] border-transparent rounded-[100px];
    box-shadow: inset 0 0 10px 10px var(--palette-color-gray);
  }
  ::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px var(--palette-color-gray-hover);
  }

  /* Typography */
  h1.display {
    @apply text-[46px] leading-[52px] font-black;
  }
  h1 {
    @apply text-[32px] leading-[38.73px] font-black;
  }
  h2,
  .h2 {
    @apply text-2xl leading-[29.05px] font-bold;
  }
  h3 {
    @apply text-lg leading-[21.78px] font-bold;
  }
  h4,
  .h4 {
    @apply text-[15px] leading-[18.15px] font-medium text-white;
  }
  .p1 {
    @apply text-[15px] leading-[22.5px] font-normal;
  }
  .p2 {
    @apply text-[13px] leading-[19.5px] font-normal;
  }
  .p3 {
    @apply text-xs leading-[15px] font-medium;
  }
  a,
  button,
  .button-link {
    @apply font-[Inter] text-[15px] leading-[18px] font-bold not-italic;
  }

  button,
  .button-link {
    @apply text-white;
  }

  a {
    @apply text-darkMode-blue no-underline w-fit;
  }

  a:not([class]) {
    text-decoration-skip-ink: auto;
  }

  img {
    @apply w-full h-full object-cover;
  }
  @media (max-width: 989px) {
    h1 {
      @apply text-[32px] font-black;
    }
    h2 {
      @apply text-[24px] font-bold;
    }
  }
  @media (prefers-reduced-motion: reduce) {
    * {
      @apply !duration-[0.01ms] !scroll-auto;
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
    }
  }
  @media (prefers-color-scheme: light) {
    body {
      @apply bg-white text-black;
    }
    h4,
    .h4 {
      @apply text-lightMode-gray-dark;
    }
    button,
    .button-link {
      @apply text-lightMode-gray-dark;
    }

    a {
      @apply text-lightMode-blue-medium;
    }

    a:not(.button):focus,
    a:not(.button):hover {
      @apply border-b-2 border-solid border-lightMode-blue-medium;
    }
  }

  /*
  * Hide Microsoft Edge password reveal button
  * https://learn.microsoft.com/en-us/microsoft-edge/web-platform/password-reveal
  */
  ::-ms-reveal {
    @apply hidden;
  }
}

:root {
  --default-border-radius: 24px;

  /* Dark palette colors */
  --base-color-dark-gray: 228, 10%;
  --palette-color-dark-gray: hsl(var(--base-color-dark-gray), 10%);
  --palette-color-dark-gray-hover: hsl(var(--base-color-dark-gray), 20%);

  --base-color-medium-gray: 227, 10%;
  --palette-color-medium-gray: hsl(var(--base-color-medium-gray), 18%);
  --palette-color-medium-gray-hover: hsl(var(--base-color-medium-gray), 28%);

  --palette-color-gray: hsl(var(--base-color-medium-gray), 27%);
  --palette-color-gray-hover: hsl(var(--base-color-medium-gray), 37%);

  --base-color-light-gray: 227, 12%;
  --palette-color-light-gray: hsl(var(--base-color-light-gray), 71%);
  --palette-color-light-gray-hover: hsl(var(--base-color-light-gray), 81%);

  --base-color-extra-light-gray: 229, 16%;
  --palette-color-extra-light-gray: hsl(
    var(--base-color-extra-light-gray),
    86%
  );
  --palette-color-extra-light-gray-hover: hsl(
    var(--base-color-extra-light-gray),
    96%
  );

  --base-color-white: 0, 0%;
  --palette-color-white: hsl(var(--base-color-white), 100%);
  --palette-color-white-hover: hsl(var(--base-color-white), 90%);

  --base-color-green: 135, 68%;
  --palette-color-green: hsl(var(--base-color-green), 53%);
  --palette-color-green-hover: hsl(var(--base-color-green), 63%);

  --base-color-red: 5, 69%;
  --palette-color-red: hsl(var(--base-color-red), 51%);
  --palette-color-red-hover: hsl(var(--base-color-red), 61%);

  --palette-color-chart-red-gradient-start: hsla(var(--base-color-red), 51%, 0);
  --palette-color-chart-red-gradient-end: hsla(var(--base-color-red), 51%, 0.4);

  --base-color-blue: 200, 100%;
  --palette-color-blue: hsl(var(--base-color-blue), 63%);
  --palette-color-blue-hover: hsl(var(--base-color-blue), 73%);

  --palette-color-medium-blue: hsl(var(--base-color-blue), 38%);
  --palette-color-medium-blue-hover: hsl(var(--base-color-blue), 48%);

  --palette-color-black: hsl(var(--base-color-white), 0%);
  --palette-color-black-hover: hsl(var(--base-color-white), 10%);

  --palette-color-chart-blue-gradient-start: hsla(
    var(--base-color-blue),
    63%,
    0.25
  );
  --palette-color-chart-blue-gradient-end: hsla(240, 100, 63%, 0);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Light palette colors */
    --base-color-dark-gray: 0, 0%;
    --palette-color-dark-gray: hsl(var(--base-color-dark-gray), 27%);
    --palette-color-dark-gray-hover: hsl(var(--base-color-dark-gray), 17%);

    --base-color-medium-gray: var(--base-color-dark-gray), 42%;
    --palette-color-medium-gray: hsl(var(--base-color-medium-gray));
    --palette-color-medium-gray-hover: hsl(var(--base-color-dark-gray), 32%);

    --palette-color-gray: hsl(var(--base-color-dark-gray), 80%);
    --palette-color-gray-hover: hsl(var(--base-color-dark-gray), 70%);

    --palette-color-light-gray: hsl(var(--base-color-dark-gray), 91%);
    --palette-color-light-gray-hover: hsl(var(--base-color-dark-gray), 81%);

    --palette-color-extra-light-gray: hsl(var(--base-color-dark-gray), 96%);
    --palette-color-extra-light-gray-hover: hsl(
      var(--base-color-dark-gray),
      86%
    );

    --base-color-green: 135, 61%;
    --palette-color-green: hsl(var(--base-color-green), 33%);
    --palette-color-green-hover: hsl(var(--base-color-green), 23%);

    --base-color-red: 359, 76%;
    --palette-color-red: hsl(var(--base-color-red), 45%);
    --palette-color-red-hover: hsl(var(--base-color-red), 35%);

    --palette-color-blue-hover: hsl(var(--base-color-blue), 53%);

    --base-color-medium-blue: 205, 79%;
    --palette-color-medium-blue: hsl(var(--base-color-medium-blue), 37%);
    --palette-color-medium-blue-hover: hsl(var(--base-color-medium-blue), 27%);
  }
}
