.main-user-container {
  background: var(--palette-color-black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 16px;
  position: relative;
  scroll-behavior: smooth;
  width: 100%;
}

.main-user-container ~ .notification {
  top: 32px;
}

.user-page-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  row-gap: 32px;
  padding-bottom: 86px;
  padding-top: 32px;
  width: 100%;
}

.user-page-content > svg {
  height: 32px;
  width: 130px;
}

.sub-page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 450px;
  row-gap: 30px;
}

.resend-action-container {
  align-items: center;
  display: flex;
  column-gap: 20px;
}

@media (max-width: 989px) {
  .sub-page-container {
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  .user-page-content {
    margin: 0 auto;
  }
}

@supports (overflow: overlay) {
  .main-user-container {
    overflow-y: overlay;
  }
}

@media (prefers-color-scheme: light) {
  .main-user-container {
    background: var(--palette-color-white);
  }
}
