.main-user-container {
  background: var(--palette-color-dark-gray);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 30px;
  position: relative;
  scroll-behavior: smooth;
  width: 100%;
}

.welcome-section {
  flex: 1;
  max-width: 460px;
  padding: 40px;
  width: calc(100vw - 510px);
}

.welcome-section h1 {
  font-size: 46px;
  font-weight: 900;
  margin: 20px 0;
}

.sub-page-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 450px;
  row-gap: 30px;
}

@media (max-width: 989px) {
  .welcome-section h1 {
    font-size: 32px;
  }
}

@media (max-width: 989px) {
  .main-user-container {
    height: 100%;
    justify-content: flex-start;
    padding: 60px 15px 120px 15px;
  }

  .welcome-section {
    padding: 0;
    width: 100%;
    height: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .welcome-section h1 {
    text-align: center;
    margin: auto;
  }

  .sub-page-container {
    margin: 0 auto;
  }

  .main-user-container .form.vertical {
    margin: 0 auto;
  }
}

@supports (overflow: overlay) {
  .main-user-container {
    overflow-y: overlay;
  }
}

@media (min-width: 990px) {
  .main-user-container > .form {
    min-height: 650px;
    justify-content: center;
  }
}

@media (prefers-color-scheme: light) {
  .main-user-container {
    background: var(--palette-color-white);
  }
}
