.main-user-container {
  background: var(--color-dark-gray);
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 89px 30px;
  position: relative;
  width: 100%;
  position: relative;
}

.welcome-section {
  flex: 1;
  max-width: 460px;
  padding: 40px;
  width: calc(100vw - 510px);
}

.welcome-section h1 {
  margin: 20px 0;
}

.sub-page-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 450px;
  row-gap: 30px;
}

.sub-page-container p {
  font-weight: 400;
  line-height: 22.5px;
}

@media (max-width: 970px) {
  .welcome-section h1 {
    font-size: min(46px, 4.58732vw);
  }
}

@media (max-width: 875px) {
  .main-user-container {
    height: 100%;
    justify-content: flex-start;
    padding: 30px;
  }

  .welcome-section {
    padding: 40px 30px;
    width: 100%;
  }

  .welcome-section h1 {
    text-align: center;
    margin: auto;
    font-size: 46px;
  }

  .sub-page-container {
    margin: 0 auto;
  }
}
