.header {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: 1fr minmax(auto, 654px) 1fr;
  height: 64px;
  position: fixed;
  top: 0;
  width: calc(100vw - 64px);
  z-index: 300;
}

.header-buttons {
  align-self: center;
  column-gap: 10px;
  display: flex;
  margin-left: auto;
  margin-right: 15px;
}

.header-icon-button {
  padding: 9px;
  min-width: auto;
}

.header-buttons .icon {
  width: 24px;
}

@media (max-width: 905px) {
  .header {
    /* Corresponds to a .session-list width 320px */
    grid-template-columns: 1fr minmax(auto, 464px) 1fr;
  }
}

@media (min-width: 990px) and (max-width: 1025px) {
  .header {
    grid-template-columns: 1fr minmax(auto, 464px) 1fr;
  }
}

@media (max-width: 768px) {
  .header {
    width: 100vw;
  }
}

@media (prefers-color-scheme: light) {
  .header {
    @apply bg-lightMode-gray-extraLight;
  }
}
